/target/
**/resources/configs/

### any properties ###
*.properties

### Eclipse ###
.classpath
.factorypath
.project
.settings

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Misc ###
/.apt_generated/
/.apt_generated_tests/
