/target/
**/resources/configs/

### Extent Reports ###
extent.properties
pdf-config.yaml

### Eclipse ###
.classpath
.factorypath
.project
.settings

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Misc ###
/.apt_generated/
/.apt_generated_tests/
